@use '../../styles/variables.scss' as variables;

.color-bar {
    display: flex;
    background: var(--interactive-bg);
    height: variables.$button-height;
    border-radius: variables.$border-radius;
    justify-content: center;
    align-items: center;
    gap: variables.$margin;
    padding: 0 variables.$big-margin;
}