@use "./variables.scss" as variables;

.board-page {
  display: flex;
  flex-direction: column;
  height: 100%;


  &__settings {
    position: fixed;
    bottom: variables.$button-height;

    @media (max-width: 454px) {
        display: flex;
        right: variables.$margin;
      }
  }

  &__tools {
    display: flex;
    gap: variables.$margin;

    @media (max-width: 454px) {
        flex-direction: column;
      }
  }

  &__user-title {
    color: var(--text);
  }
}
