@use '../../styles/variables.scss' as variables;

.canvas__actions {
    display: flex;
        position: fixed;
        top: variables.$big-margin;
        right: variables.$big-margin;
        gap: variables.$margin;
}

.canvas {
    width: 100%;
    height: 100%;

    &__area {
        overflow: hidden;
        border-radius: 32px;
        width: 100%;
        height: 100%;
    }
   

    &__wrapper {
        width: 100%;
        height: 100%;
    }
}