@use '../../styles/variables.scss' as variables;

.canvas__actions {
    display: flex;
        position: fixed;
        top: variables.$big-margin;
        right: variables.$big-margin;
        gap: variables.$margin;
}

.canvas {
    overflow: hidden;
    border-radius: 32px;
}